<!-- views/index.ejs -->

<!doctype html>
<html>
<head>
    <title>LMS | Homepage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class=" text-center">
        <h2><span></span>Learning Management System</h2>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>

</div>
</body>
</html>   